.subscribe {
  width: 560px;
  padding-top: 35px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  color: #5a5a5a;
  background-color: #f8f7f4;
  border-radius: 10px;
}
.subscribe__description {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
}
